.book-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    
  
    @media (max-width: 768px) {
      grid-template-columns: 1fr;
  
    }
    @media screen and (min-width: 2000px) {
     grid-template-columns: repeat(4, 1fr);
    }


    .book-list__errormsg {
      text-align: center;
      font-size: 1.2rem;
      text-transform: lowercase;
    }

  }
  