.error-page {
  text-align: center;
  margin-top: 3rem;

  h2 {
    font-size: 2rem;
    color: red;
    margin-bottom: 1rem;
  }

  .error-page__btn {
    text-decoration: none;
    background-color: var(--secondary-color);
    color: var(--white-color);
    padding: 0.5rem 0.5rem;
    border-radius: 5px;
    transition: 0.3s ease-in-out;

    &:hover {
      background-color: var(--lightblue-color);
      color: var(--black-color);
    }
  }
}
