
.text-center {
  text-align: center;
}

.app__wrapper {
  width: 100%;
  padding: 4rem 2rem;

  @media screen and (max-width: 450px) {
    padding: 4rem 1rem 2rem;
  }
}

.app__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


