.book-card {
  background-color: var(--primary-color);
  border-radius: 10px;
  padding: 1.2rem;
  transition: 0.3s ease-in-out;

  .book-card__header {
    display: flex;

    h3 {
      margin-left: 1rem;
      color: var(--secondary-color);
      margin-bottom: 1rem;
    }

    .book-card__header--icon {
      font-size: 1rem;
      color: var(--secondary-color);
    }
  }

  &:hover {
    scale: 1.02;
    box-shadow: inset 8px 8px 45px 3px rgba(69, 119, 226, 0.2);
  }

  .book-card__body {
    .book-card__body--button {
      text-decoration: none;
      color: var(--color-black);
      background-color: var(--lightblue-color);
      padding: 0.3rem 0.5rem;
      border-radius: 5px;
      transition: 0.3s ease-in-out;
      display: inline-block;
      margin-top: 2rem;

      &:hover {
        background-color: var(--blue-color);
        color: var(--white-color);
      }
    }
  }
}
